node_modules
.env
coverage
coverage.json
typechain-types

# Hardhat files
cache
artifacts

.DS_Store
.vscode

.openzeppelin
foundry-cache
foundry-out
bin
reward_distribution_*json

lib
logs
tasks
test
.dockerignore
.env.sample
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
.solcover.js
.solhint.json
docker-compose.yml
Dockerfile
fly.toml
foundry.toml
hardhat.config.tasks.ts
LICENSE
